body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
.link {
    color: aquamarine;
    font-size: 16px;
}

header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
.h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}
.h4{
    font-size: 21px;
    color: gray;
}
.footer {
    font-size: 21px;
    color: grey;
    text-align: right;
}